@model IEnumerable<GreenGrassAPI.Models.UserFriends>
@{
    ViewData["Title"] = "Znajomi";
    var number = 1;
}

<div class="container">
    <h1 class="text-center">Znajomi</h1>
    <div class="input-group">
        <span class="input-group-text">
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <input class="form-control search-bar" type="text" id="searchInput" onkeyup="searchByName()" placeholder="Wyszukaj..">
    </div>
    <br />
    <a class="btn btn-primary my-btn show-notification-btn" onclick="handleItemClick()">Dodaj znajomego</a>

    @if (Model.Any())
    {
        <table id="searchTable" class="table sortable table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>
                        Nick
                    </th>
                    <th>
                        Liczba roślin
                    </th>                 
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(number).</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FriendNickname)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.NumberOfPlants)</td>
                    </tr>
                    number++;
                }
            </tbody>
        </table>     
    }
    else
    {
        <p>Brak znajomych do wyświetlenia.</p>
    }
    <div id="notificationOverlay" class="partial-overlay" style="display: none;">
        <div class="text-center partial-content">
            <div id="notificationContainer">
                @await Html.PartialAsync("FindFriend", new GreenGrassAPI.Models.User())
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function handleItemClick() {           
            $("#notificationOverlay").show();
        }
    </script>
}
