@{
    ViewData["Title"] = "Panel główny";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card border-0 bg-primary text-white text-center menu-item">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <a asp-controller="" asp-action="" class="no-link-style">
                    <i class="fa-solid fa-user fa-3x"></i>
                    <h1 class="card-title mx-2">Mój profil</h1>
                    </a>
                </div>
            </div>

            <div class="card border-0 bg-secondary text-white text-center mt-3 menu-item">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <a asp-controller="" asp-action="" class="no-link-style">
                    <i class="fa-solid fa-user-group fa-3x"></i>
                    <h1 class="card-title mx-2">Znajomi</h1>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card border-0 bg-success text-white text-center menu-item">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <a asp-controller="Plant" asp-action="GetPlants" class="no-link-style">
                    <i class="fa-brands fa-pagelines fa-3x"></i>
                    <h1 class="card-title mx-2">Moje rośliny</h1>
                    </a>
                </div>
            </div>

            <div class="card border-0 bg-info text-white text-center mt-3 menu-item">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <a asp-controller="" asp-action="" class="no-link-style">
                    <i class="fa-solid fa-bell fa-3x"></i>
                    <h1 class="card-title mx-2">Powiadomienia</h1>
                    </a>
                </div>
            </div>

            <div class="card border-0 bg-warning text-white text-center mt-3 menu-item">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <a asp-controller="" asp-action="" class="no-link-style">
                    <i class="fa-solid fa-book fa-3x"></i>
                    <h1 class="card-title mx-2">Encyklopedia wiedzy</h1>
                    </a>
                </div>
            </div>
          
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}