
.navbar {
    border-bottom: 2px solid black;
    width: 100%;
    font-size: 20px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    font-size: 18px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

#notification-list {
    position: absolute;
    top: calc(100% + 0px);
    z-index: 9999;
    display: none;
    min-width: 200px;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

    #notification-list li {
        padding: 5px;
    }

        #notification-list li:first-child {
            margin-top: 0;
        }

        #notification-list li:last-child {
            margin-bottom: 0;
        }

        #notification-list li:not(:last-child) {
            border-bottom: 1px solid #ddd;
        }


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 100%;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.search-bar {
    border-radius: 7px;
}

.image-thumbnail {
    width: 100px;
    height: 100px;
    transition: width 0.3s, height 0.3s;
    cursor: pointer;
}

    .image-thumbnail:hover {
        width: 200px;
        height: 200px;
    }

.notification-icon {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

    .notification-icon:hover {
        cursor: pointer;
        color: lightgreen;
    }

.badge-danger {
    background-color: red;
    position: absolute;
    top: 0;
    right: -15px; /* Przesuniêcie, aby by³o bli¿ej ikony dzwonka */
}

.menu-item {
    height: 300px;
}

.menu-item:hover {
    cursor: pointer;
}

.no-link-style {
    text-decoration: none; 
    color: inherit; 
    cursor: pointer; 
    outline: none; 
}

.no-link-style:hover {
    color: lightgreen;
    cursor: pointer;
}

.brand {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

#notification-link {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
    #notification-link i {
        font-size: 1.5rem;
    }
.navbar-nav .nav-link {
    font-size: 1.2rem;
}

/*Details*/
.plant-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.plant-details {
    margin-top: 20px;
}

.details-label {
    font-weight: bold;
    color: #555;
}

.btn-back {
    margin-right: 15px;
}

/*Notification list*/
.notification-square img {
    border-radius: 15px;
    width: 70%;
    height: 70%;
    margin-bottom: 15px;
}

.notification-square {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    margin: 15px;
    background-color: aliceblue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

    .notification-square.expired {
        border-color: red;
    }

.notification-content {
    text-align: right;
}

    .notification-content p {
        margin-top: 5px;
    }

.details-of-notification {
    padding: 5px;
}

.notification-menu {
    position: absolute;
    top: 5px;
    right: 10px;
}

.menu-icon {
    cursor: pointer;
}

.options-menu {
    position: absolute;
    top: 100%;
    right: -10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: none;
}

    .options-menu span {
        display: block;
        padding: 5px 10px;
        cursor: pointer;
    }

.delete-option {
    color: red;
}

.edit-option {
    color: blue;
}

.notification-menu:hover .options-menu {
    display: block;
    color: lawngreen;
}